html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  overflow: hidden; }

.page_has-popup {
  overflow: hidden; }

.container {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px; }
  @media (min-width: 540px) {
    .container {
      padding-left: 36px;
      padding-right: 36px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding-left: 80px;
      padding-right: 80px; } }

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  text-decoration: none;
  text-align: center; }
  .button_size_small {
    padding: 8px 19px;
    min-height: 40px;
    border: 2px solid #fe8057;
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
  .button_size_large {
    min-height: 50px;
    padding: 8px 19px;
    border: 2px solid #fe8057;
    border-radius: 35px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease; }
    @media (min-width: 1440px) {
      .button_size_large {
        min-height: 60px;
        padding: 13px 34px;
        font-size: 20px; } }
  .button_primary {
    color: #ffffff;
    background-color: #fe8057; }
    .button_primary:hover, .button_primary:focus {
      background-color: transparent; }
  .button_invert {
    color: #ffffff;
    background-color: transparent; }
    .button_invert:hover, .button_invert:focus {
      background-color: #fe8057; }
  .button_info {
    color: #fe8057;
    background-color: transparent; }
    .button_info:hover, .button_info:focus {
      color: #ffffff;
      background-color: #fe8057; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  z-index: 10; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 88px; }
  @media (min-width: 1024px) {
    .header__container {
      position: relative;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      min-height: 110px; } }
  @media (max-width: 1023px) {
    .header__container {
      padding-left: 30px;
      padding-right: 30px; } }

@media (min-width: 1024px) {
  .header__logo {
    margin-right: 30px; } }

@media (min-width: 1440px) {
  .header__logo {
    margin-right: 40px; } }

@media (max-width: 1023px) {
  .header__logo {
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 11; } }

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-style: normal; }
  @media (min-width: 1024px) {
    .header__contacts {
      margin-right: 30px; } }
  @media (min-width: 1440px) {
    .header__contacts {
      font-size: 16px; } }

.header__phone {
  position: relative;
  display: block;
  padding-left: 20px;
  color: #ffffff;
  text-decoration: none; }
  @media (min-width: 1024px) {
    .header__phone {
      margin-left: 26px; } }
  @media (min-width: 1440px) {
    .header__phone {
      margin-left: 36px; } }
  @media (max-width: 1023px) {
    .header__phone {
      display: none; } }
  .header__phone::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 14px;
    height: 20px;
    background-image: url("data:image/svg+xml,%0A%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='phone-alt' class='svg-inline--fa fa-phone-alt fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffffff' d='M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center; }

.header__menu-button {
  position: relative;
  z-index: 11; }
  @media (min-width: 1024px) {
    .header__menu-button {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }
  @media (min-width: 1440px) {
    .header__menu-button {
      display: none !important; } }

@media (min-width: 1024px) {
  .header__nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 39px;
  height: 39px;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer; }

.menu-button__toggle {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 4px;
  vertical-align: bottom;
  background: #fff; }
  .menu-button_opened .menu-button__toggle {
    background: 0 0; }
  .menu-button__toggle::before, .menu-button__toggle::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }
    .menu-button_opened .menu-button__toggle::before, .menu-button_opened .menu-button__toggle::after {
      top: 0; }
  .menu-button__toggle::before {
    top: 11px; }
    .menu-button_opened .menu-button__toggle::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
              transform: rotate3d(0, 0, 1, 45deg); }
  .menu-button__toggle::after {
    top: -11px; }
    .menu-button_opened .menu-button__toggle::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
              transform: rotate3d(0, 0, 1, -45deg); }

.logo {
  width: 88px;
  height: 88px; }
  @media (min-width: 1024px) {
    .logo {
      width: 110px;
      height: 110px; } }

.logo__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

@-webkit-keyframes showMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes showMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 1024px) {
    .nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 1023px) {
    .nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 100vh;
      padding: 135px 8px 32px;
      background-color: #25262a;
      text-align: center;
      -webkit-animation: showMenu 0.3s ease;
              animation: showMenu 0.3s ease; }
      .nav:not(.nav_opened) {
        display: none; } }

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 1024px) {
    .nav__menu {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (max-width: 1023px) {
    .nav__menu:not(:first-of-type) {
      margin-top: 30px;
      padding-top: 23px;
      -webkit-box-shadow: inset 0 1px #696969;
              box-shadow: inset 0 1px #696969; } }
  .nav__menu_user {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 0;
        flex-basis: 0; }
    @media (min-width: 1024px) and (max-width: 1439px) {
      .nav__menu_user {
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        top: calc(100% - 10px);
        right: 40px;
        width: 164px;
        padding: 22px 30px;
        background-color: #ffffff;
        border-radius: 10px;
        border-top-right-radius: 0;
        -webkit-animation: showMenu 0.3s ease;
                animation: showMenu 0.3s ease; }
        .nav__menu_user:not(.nav__menu_opened) {
          display: none; } }

.nav__item:not(:first-child) {
  margin-top: 20px; }
  @media (min-width: 1024px) {
    .nav__item:not(:first-child) {
      margin-top: 0;
      margin-left: 30px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .nav__menu_user .nav__item {
    margin-left: 0; }
    .nav__menu_user .nav__item:not(:first-child) {
      margin-left: 0;
      margin-top: 5px; } }

.nav__button {
  min-width: 200px; }
  @media (min-width: 1024px) {
    .nav__button {
      min-width: 150px;
      margin-right: 36px; } }
  @media (min-width: 1440px) {
    .nav__button {
      min-width: 200px;
      margin-right: 40px; } }
  @media (max-width: 1023px) {
    .nav__button {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-top: 15px; } }

.nav__link {
  position: relative;
  display: block;
  padding: 5px 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none; }
  @media (min-width: 1024px) {
    .nav__link {
      font-size: 14px; } }
  @media (min-width: 1440px) {
    .nav__link {
      font-size: 16px; } }
  .nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 0;
    height: 2px;
    background-color: #fe8057;
    opacity: 0;
    -webkit-transition: width 0.3s ease, opacity 0.3s ease;
    transition: width 0.3s ease, opacity 0.3s ease; }
  .nav__link:hover::after {
    width: 100%;
    opacity: 1; }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .nav__menu_user .nav__link {
      color: #000000; } }

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 420px;
  max-height: 480px;
  height: 100vh;
  position: relative;
  color: #ffffff;
  background-color: #6d7e84;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden; }
  @media (min-width: 1024px) {
    .showcase {
      min-height: 768px;
      max-height: 1100px; } }
  .showcase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4); }
  .showcase_main {
    background-image: url(../images/showcase.jpg);
    background-size: auto 985px;
    background-position: right top; }
    @media (min-width: 1024px) {
      .showcase_main {
        background-position: center top;
        background-size: cover; } }
    @media (min-width: 1440px) {
      .showcase_main {
        background-position: center; } }

.showcase__container {
  height: 100%; }

.showcase__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 155px; }
  @media (min-width: 1024px) {
    .showcase__grid {
      width: calc(100% + 20px);
      margin-left: -10px;
      margin-right: -10px; } }
  @media (min-width: 1024px) {
    .showcase__grid {
      position: relative;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      max-width: none;
      top: 31.25%;
      height: auto;
      padding-top: 0; } }
  @media (min-width: 1440px) {
    .showcase__grid {
      top: 27.27%; } }
  @media (max-width: 1023px) {
    .showcase__grid {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.showcase__title {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 0;
  margin-bottom: 40px; }
  @media (min-width: 1024px) {
    .showcase__title {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 1024px) {
    .showcase__title {
      width: 55.56%;
      margin-bottom: 35px; } }
  @media (min-width: 1440px) {
    .showcase__title {
      width: 50%;
      margin-bottom: 40px; } }

.showcase__text-wrap {
  padding-left: 8px;
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 60px; }
  @media (min-width: 1024px) {
    .showcase__text-wrap {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 1024px) {
    .showcase__text-wrap {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 44.4444%;
      padding-bottom: 0; } }
  @media (min-width: 1440px) {
    .showcase__text-wrap {
      position: relative;
      width: 33.3333%; }
      .showcase__text-wrap::before {
        content: "";
        position: absolute;
        top: -10px;
        right: calc(100% + 5px);
        max-width: 179px;
        width: 42%;
        height: 65px;
        background-image: url(../images/stars.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto; } }

.showcase__description {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #f1f1f1; }
  @media (min-width: 1024px) {
    .showcase__description {
      font-size: 14px;
      line-height: 18px; } }
  @media (min-width: 1440px) {
    .showcase__description {
      font-size: 16px;
      line-height: 20px; } }

.showcase__link {
  width: 100%;
  max-width: 305px;
  margin-top: 30px; }
  @media (min-width: 1024px) {
    .showcase__link {
      margin-top: 40px; } }
  @media (min-width: 1440px) {
    .showcase__link {
      margin-top: 55px; } }

.showcase__scroll-link {
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1; }

.page-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.03em; }
  @media (min-width: 1024px) {
    .page-title {
      font-size: 36px;
      line-height: 42px; } }
  @media (min-width: 1440px) {
    .page-title {
      font-size: 42px;
      line-height: 48px; } }

.page-title__accent {
  color: #fe8057; }

@-webkit-keyframes scrollSwim {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

@keyframes scrollSwim {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

.scroll-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  .scroll-link:hover {
    opacity: 0.7; }
  .scroll-link::before {
    content: "";
    display: block;
    width: 27px;
    height: 42px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 42'%3E%3Cpath stroke='%23FFF' stroke-width='2' fill='none' d='M13 1c6.627 0 12 5.372 12 12v15c0 6.627-5.373 12-12 12-6.628 0-12-5.373-12-12V13C1 6.372 6.372 1 13 1z'/%3E%3Cpath stroke='%23FFF' stroke-width='2' fill='none' d='M12 9.998h2v8h-2v-8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 27px 42px;
    background-position: center;
    -webkit-animation: scrollSwim 3s ease-out infinite;
            animation: scrollSwim 3s ease-out infinite; }
  @media (max-width: 1023px) {
    .scroll-link {
      display: none; } }

.scroll-link__text {
  margin-top: 15px;
  font-size: 12px;
  line-height: 1.67;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em; }
  @media (max-width: 1439px) {
    .scroll-link__text {
      display: none; } }

.programs {
  padding-top: 57px;
  padding-bottom: 170px; }
  @media (min-width: 1024px) {
    .programs {
      padding-top: 112px;
      padding-bottom: 130px; } }
  @media (min-width: 1440px) {
    .programs {
      padding-top: 120px;
      padding-bottom: 200px; } }

.programs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.programs__teachers-link {
  width: 100%;
  max-width: 560px;
  margin-bottom: 105px; }
  @media (min-width: 1440px) {
    .programs__teachers-link {
      max-width: 700px;
      margin-bottom: 135px; } }
  @media (max-width: 1023px) {
    .programs__teachers-link {
      display: none; } }

.programs__title {
  margin-top: 0;
  margin-bottom: 45px; }
  @media (min-width: 1024px) {
    .programs__title {
      margin-bottom: 75px; } }
  @media (min-width: 1440px) {
    .programs__title {
      margin-bottom: 90px; } }

.programs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
  min-height: 450px; }
  @media (min-width: 1024px) {
    .programs-list {
      width: calc(100% + 20px);
      margin-left: -10px;
      margin-right: -10px; } }
  @media (max-width: 1023px) {
    .programs-list {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .programs-list:not(.slick-slider) {
        max-width: 100%;
        overflow: auto; } }

.programs-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.programs-list__item {
  padding-left: 8px;
  padding-right: 8px;
  min-width: 276px; }
  @media (min-width: 1024px) {
    .programs-list__item {
      padding-left: 10px;
      padding-right: 10px; } }
  .programs-list:not(.slick-slider) .programs-list__item {
    width: 33.3333%; }

.program-item {
  outline: none; }

.program-item__link {
  position: relative;
  display: block;
  color: #ffffff;
  text-decoration: none;
  outline: none; }

.program-item__img {
  display: block;
  width: 260px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #e8e6e6;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(2, 2, 2, 0.2);
          box-shadow: 0px 3px 10px 0px rgba(2, 2, 2, 0.2); }
  @media (min-width: 1024px) {
    .program-item__img {
      width: 100%; } }
  @media (max-width: 1023px) {
    .program-item__img {
      -webkit-transition: height 0.3s ease;
      transition: height 0.3s ease; }
      .slick-slider .program-item:not(.slick-active) .program-item__img {
        height: 410px; } }

.program-item__title {
  margin: 0;
  font-size: 18px;
  line-height: 1.23;
  font-weight: 500; }
  @media (min-width: 1024px) {
    .program-item__title {
      font-size: 20px; } }
  @media (min-width: 1440px) {
    .program-item__title {
      font-size: 24px; } }

.program-item__text-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  word-wrap: break-word;
  word-spacing: 100vw;
  z-index: 1; }
  @media (max-width: 1023px) {
    .slick-slider .program-item:not(.slick-active) .program-item__text-wrap {
      min-height: 90px;
      padding: 15px 20px; } }
  .program-item__text-wrap::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-top: 0 solid transparent;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: height 0.3s ease, background-color 0.3s ease, border 0.3s ease;
    transition: height 0.3s ease, background-color 0.3s ease, border 0.3s ease;
    z-index: -1; }
    .program-item__link:hover .program-item__text-wrap::before,
    .program-item__link:focus .program-item__text-wrap::before {
      height: 450px;
      border-top: 4px solid #66d0fa;
      background-color: rgba(0, 0, 0, 0.3); }
      @media (max-width: 1023px) {
        .slick-slider .program-item:not(.slick-active) .program-item__link:hover .program-item__text-wrap::before, .slick-slider .program-item:not(.slick-active)
        .program-item__link:focus .program-item__text-wrap::before {
          height: 410px; } }

.section-title {
  font-size: 16px;
  line-height: 1.23;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #4e93e1; }
  @media (min-width: 1024px) {
    .section-title {
      font-size: 24px; } }
  @media (min-width: 1440px) {
    .section-title {
      font-size: 30px; } }
