.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    text-decoration: none;
    text-align: center;

    &_size_small {
        padding: 8px 19px;
        min-height: 40px;
        border: 2px solid $orange;
        border-radius: 4px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
    }

    &_size_large {
        min-height: 50px;
        padding: 8px 19px;
        border: 2px solid $orange;
        border-radius: 35px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        transition: color 0.3s ease, background-color 0.3s ease;

        @media (min-width: $desktops) {
            min-height: 60px;
            padding: 13px 34px;
            font-size: 20px;
        }
    }

    &_primary {
        color: #ffffff;
        background-color: $orange;

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }

    &_invert {
        color: #ffffff;
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: $orange;
        }
    }

    &_info {
        color: $orange;
        background-color: transparent;

        &:hover,
        &:focus {
            color: #ffffff;
            background-color: $orange;
        }
    }
}
