@keyframes scrollSwim {
    0% {
        transform: translateY(-10px);
    }

   50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.scroll-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.7;
    }

    &::before {
        content: "";
        display: block;
        width: 27px;
        height: 42px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 42'%3E%3Cpath stroke='%23FFF' stroke-width='2' fill='none' d='M13 1c6.627 0 12 5.372 12 12v15c0 6.627-5.373 12-12 12-6.628 0-12-5.373-12-12V13C1 6.372 6.372 1 13 1z'/%3E%3Cpath stroke='%23FFF' stroke-width='2' fill='none' d='M12 9.998h2v8h-2v-8z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 27px 42px;
        background-position: center;
        animation: scrollSwim 3s ease-out infinite;
    }

    @media (max-width: #{$tablets - 1px}) {
        display: none;
    }
}


.scroll-link__text {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.67;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    @media (max-width: #{$desktops - 1px}) {
        display: none;
    }
}
