.showcase {
    display: flex;
    min-height: 420px;
    max-height: 480px;
    height: 100vh;
    position: relative;
    color: #ffffff;
    background-color: #6d7e84;
    background-repeat: no-repeat;
    z-index: 0;

    @media (min-width: $tablets) {
        min-height: 768px;
        max-height: 1100px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgba(#000000, 0.4);
    }

    &_main {
        background-image: url(../images/showcase.jpg);
        background-size: auto 985px;
        background-position: right top;

        @media (min-width: $tablets) {
            background-position: center top;
            background-size: cover;
        }

        @media (min-width: $desktops) {
            background-position: center;
        }
    }
}

.showcase__container {
    height: 100%;
}

.showcase__grid {
    @include grid;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    padding-top: 155px;

    @media (min-width: $tablets) {
        position: relative;
        align-items: flex-end;
        max-width: none;
        top: 31.25%;
        padding-top: 0;
    }

    @media (min-width: $desktops) {
        top: 27.27%;
    }

    @media (max-width: #{$tablets - 1px}) {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.showcase__title {
    @include grid-col;

    margin-top: 0;
    margin-bottom: 40px;

    @media (min-width: $tablets) {
        width: 55.56%;
        margin-bottom: 35px;
    }

    @media (min-width: $desktops) {
        width: 50%;
        margin-bottom: 40px;
    }
}

.showcase__text-wrap {
    @include grid-col;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;

    @media (min-width: $tablets) {
        justify-content: flex-start;
        width: 44.4444%;
    }

    @media (min-width: $desktops) {
        position: relative;
        width: 33.3333%;

        &::before {
            content: "";
            position: absolute;
            top: -10px;
            right: calc(100% + 5px);
            max-width: 179px;
            width: 42%;
            height: 65px;
            background-image: url(../images/stars.png);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100% auto;
        }
    }
}

.showcase__description {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #f1f1f1;

    @media (min-width: $tablets) {
        font-size: 14px;
        line-height: 18px;
    }

    @media (min-width: $desktops) {
        font-size: 16px;
        line-height: 20px;
    }
}

.showcase__link {
    width: 100%;
    max-width: 305px;
    margin-top: 30px;

    @media (min-width: $tablets) {
        margin-top: 40px;
    }

    @media (min-width: $desktops) {
        margin-top: 55px;
    }
}

.showcase__scroll-link {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}


