@mixin grid {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-right: -8px;

    @media (min-width: $tablets) {
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
    }
}

@mixin grid-col {
    padding-left: 8px;
    padding-right: 8px;

    @media (min-width: $tablets) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@mixin visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    margin: -1px !important;
    overflow: hidden;
}
